<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to the Red Planet</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Data</a></p>
    </div>
    {% if scraped_data %}
    <h2><strong>Latest Mars News</strong></h2>
    <h3><strong>{{ scraped_data.news_title }}</strong></h3>
    <h4>{{ scraped_data.news_teaser_title }}</h4>
    <h2><strong>Featured Mars Image</strong></h2>
    <img src="{{ scraped_data.Featured_Mars_Image }}" alt="Featured image of Mars from jpl.nasa.gov" width="800" height="600">

    <h1>Mars Facts</h1>

    {{ scraped_data.Mars_Facts|safe }}

    {% endif %}
  </div>
  </div>
</body>

</html>
